.image-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.image-modal_opened {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-modal__content {
    position: relative;
}

.image-modal__picture {
    max-width: 75vw;
    max-height: 75vh;
}

.image-modal__close {
    width: 40px;
    height: 40px;
    background-image: url(../images/Close.svg);
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: calc(100% + 5px);
    left: calc(100% + 5px);
    cursor: pointer;
}

.image-modal__caption {
    color: #fff;
}

@media screen and (max-width: 597px) {
    .image-modal__close {
        width: 30px;
        height: 30px;
        left: unset;
        right: 7px;
    }
}

@media screen and (max-width: 896) {
    .image-modal__content {
        max-width: 240px;
        height: 299px;
    }
}